$animation-duration: 2.1s;
$animation-delay-step: 0.1s;
$animation-fill-color: rgb(0, 0, 0);
$animation-easing: cubic-bezier(0.47, 0, 0.745, 0.715);
@for $i from 1 through 40 {
	$delay: $animation-delay-step * $i;
	@keyframes animate-svg-fill-#{$i} {
		0% {
			fill: transparent;
		}
		100% {
			fill: $animation-fill-color;
		}
	}
	.svg-elem-#{$i} {
		animation: animate-svg-fill-#{$i}
			$animation-duration
			$animation-easing
			$delay
			both;
	}
}
